header {
    position: relative;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 2;
    margin: 0;
    background-color: rgb(0, 247, 255);
    font-size: 20px;
}

nav>ul {
    background-color: #613c1a;
    font-family: 'EB Garamond,'serif;
    font-weight: bold;
    font-size: 1.15em;
    justify-content: space-around;
    display: flex;
    padding: 0.5em 0.7em 0.1em 50em;
    margin: 0;
}

:root {
    --color-off-white: #fff6f6;
    --color-aluminum: #c4c4c4; 
    --color-charcoal: #494646;
    --color-black: #1f1919;
    --color-navy: #6385b1;
    --color-deep-water: #1a3861;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
}

h2 {
    color: blue;
}

.projects {
    padding: 20px;
}
